<h1 style="background: #7e42e7; color: #FFF; width: 100%; padding: 20px 0; margin: 20px 0;">
  NOVA ENCOMENDA
</h1>

<p style="margin-bottom: 10px; ">
  <span style="color: #7e42e7; font-weight: bold; font-size: 32px;">
    Olá {{name}}!
  </span>
  <br />
  foi gerado uma nova encomenda para ser entregue, 
  <br />
  o produto já está disponível para a retirada.
</p>

<p style="font-size: 20px">
  <strong style="color: #7e42e7; font-size: 16px">Produto</strong>
  <br />
  {{product}}
</p>

<p style="font-size: 20px">
  <strong style="color: #7e42e7; font-size: 16px">Destinatário</strong>
  <br />
  {{recipient}}
</p>

<p style="font-size: 20px">
  <strong style="color: #7e42e7; font-size: 16px">Endereço</strong>
  <br />
  {{adress}}
</p>

<p style="font-size: 18px">
  <strong style="color: #7e42e7; font-size: 14px">Encomenda gerada em:</strong>
  <br />
  {{date}}
</p>